// Custom styles
.big-logo {
	@media screen and (max-width: 991px) {
		display: none;
	}
}

.little-logo {
	@media screen and (max-width: 991px) {
		display: block;
	}
	@media screen and (min-width: 991px) {
		display: none;
	}
}

.little-searcher {
	@media screen and (max-width: 482px) {
		display: none;
	}
}

// emotion colors

.bg-happy {
	background-color: rgba(241, 196, 15, 1.0);
}

.previewButton {
	cursor: pointer;
	&:hover{
		text-decoration: underline;
	}
}